@using ReflectionIT.Mvc.Paging

@model PagingList<EstateInvestmentWebApplication.Models.DatabaseEntitiesModel.New>

@{
    ViewData["Title"] = "Tin tức";
}

<div class="site-section site-section-sm bg-light">
    <div class="container">

        <div class="row mb-5">

            @foreach (var news in Model)
            {

                <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up" data-aos-delay="300">
                    <a href="@Url.Action("DetailNew", "New", new { id = news.Id })"><img src="@news.ImagePath" alt="Image" class="img-fluid"></a>
                    <div class="p-4 bg-white">
                        <span class="d-block text-secondary small text-uppercase">@news.CreateDate</span>
                        <h2 class="h5 text-black mb-3"><a href="#">@news.Title</a></h2>
                        <p>@news.ShortDescription</p>
                    </div>
                </div>
            }

        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-pagination">
                    <vc:pager paging-list="@Model" />
                </div>
            </div>
        </div>

    </div>
</div>