<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/mediaelementplayer.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/fl-bigmug-line.css">


    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->

        <div class="border-bottom bg-white top-bar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-md-6">
                        <p class="mb-0">
                            <a href="#" class="mr-3"><span class="text-black fl-bigmug-line-phone351"></span> <span class="d-none d-md-inline-block ml-2">+2 102 3923 3922</span></a>
                            <a href="#"><span class="text-black fl-bigmug-line-email64"></span> <span class="d-none d-md-inline-block ml-2">info@domain.com</span></a>
                        </p>
                    </div>
                    <div class="col-6 col-md-6 text-right">
                        <a href="#" class="mr-3"><span class="text-black icon-facebook"></span></a>
                        <a href="#" class="mr-3"><span class="text-black icon-twitter"></span></a>
                        <a href="#" class="mr-0"><span class="text-black icon-linkedin"></span></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="site-navbar">
            <div class="container py-1">
                <div class="row align-items-center">
                    <div class="col-8 col-md-8 col-lg-4">
                        <h1 class=""><a href="@Url.Action("Index", "Home")" class="h5 text-uppercase text-black"><strong>ESTATE<span class="text-danger">.</span></strong></a></h1>
                    </div>
                    <div class="col-4 col-md-4 col-lg-8">
                        <nav class="site-navigation text-right text-md-right" role="navigation">

                            <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li class="active">
                                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                                </li>
                                <li class="has-children">
                                    <a href="javascript:void(0)">Dự án</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Đất nền Vũng Tàu</a></li>
                                        <li><a href="#">Đất nền Đà Lạt</a></li>
                                        <li><a href="#">Đất nền Hồ Chí Minh</a></li>
                                        @*<li class="has-children">
                                            <a href="#">Menu</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Menu One</a></li>
                                                <li><a href="#">Menu Two</a></li>
                                                <li><a href="#">Menu Three</a></li>
                                            </ul>
                                        </li>*@
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("News", "Home")">Tin tức</a></li>
                                <li><a href="@Url.Action("About", "Home")">Giới thiệu</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Thông tin tư vấn</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form id="formConsultation" asp-controller="" asp-action="">
                  <div class="modal-body">
                      <div class="form-group required-field">
                          <label>Họ và tên:</label>
                          <input type="text" class="form-control" name="UserName" id="UserNameConsultation" placeholder="Họ và tên" value="">
                      </div>
                      <div class="form-group">
                          <label>Địa chỉ email:</label>
                          <input type="text" class="form-control" name="UserEmail" id="UserEmailConsultation" placeholder="Địa chỉ email" value="">
                      </div>
                      <div class="form-group required-field">
                          <label>Số điện thoại:</label>
                          <input type="text" class="form-control" name="PhoneNumber" id="PhoneNumberConsultation" placeholder="Số điện thoại" value="">
                      </div>
                      <div class="form-group required-field">
                          <label>Thông tin tư vấn:</label>
                          <input type="text" class="form-control" name="Content" id="ContentConsultation" placeholder="Thông tin tư vấn" value="">
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                      <button id="btnSubmitConsultation" type="submit" class="btn btn-primary">Đăng ký</button>
                  </div>
              </form>
          </div>
      </div>
    </div>

    <div class="site-section site-section-sm bg-primary">
        <div class="container">
            <div class="row d-flex justify-content-center">
                @*<div class="col-md-8">*@
                <a href="#" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#exampleModal">Đăng ký tư vấn dự án</a>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-5">
                        <h3 class="footer-heading mb-4">Giới thiệu về Estate</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe pariatur reprehenderit vero atque, consequatur id ratione, et non dignissimos culpa? Ut veritatis, quos illum totam quis blanditiis, minima minus odio!</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h3 class="footer-heading mb-4">Điều hướng</h3>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                                @*<li><a href="#">Buy</a></li>
                                    <li><a href="#">Rent</a></li>*@
                                <li><a href="#">Dự án</a></li>
                                <li><a href="@Url.Action("About", "Home")">Giới thiệu</a></li>
                                <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                            </ul>
                        </div>
                        @*<div class="col-md-6 col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("About", "Home")">Giới thiệu</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
                                    <li><a href="#">Terms</a></li>
                                </ul>
                            </div>*@
                    </div>


                </div>

                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h3 class="footer-heading mb-4">Theo dõi chúng tôi trên</h3>
                    <div>
                        <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                    </div>
                </div>

            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </div>
    </footer>


    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/mediaelement-and-player.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/aos.js"></script>

    <script src="~/js/main.js"></script>
    <script src="~/js/site.js"></script>

    <script>
        //Begin Submit Consultation
        document.getElementById("formConsultation").addEventListener('submit', (e) => {
            const formData = new FormData(e.target);
            $("btnSubmitConsultation").prop('disabled', true);
            $.ajax({
                url: "@Url.Action("CreateConsultation","Consultation")",
                contentType: false,
                type: "post",
                processData: false,
                data: formData
            }).done(function (data) {
                $("btnSubmitConsultation").prop('disabled', false);

                if (data.status == "success") {
                    alert(data.message);
                    ClearFormConsultation();
                } else {
                    alert(data.message);

                }
            })

            e.preventDefault()
        });
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
