@model EstateInvestmentWebApplication.Models.DatabaseEntitiesModel.New
@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <div class="col-md-12 p-0">
        <div class="text-center mb-20"><img src="@Model.ImagePath" style="width: 600px; height: auto" /></div>
        <h1>@Model.Title</h1>

        <div><p>Ngày tạo: @Model.CreateDate.ToString("d") @(Model.IdentityUser != null ? " - Bởi: " + Model.IdentityUser.UserName : "")</p></div>
        <div class="row">
            <div class="col-md-10">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</div>