@model IEnumerable<EstateInvestmentWebApplication.Models.DatabaseEntitiesModel.New>

    @{
        ViewData["Title"] = "ListNew";
    }

    <h2>Danh sách tin tức</h2>

    <p>
        <a asp-action="CreateNew">Tạo mới tin tức</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tiêu đề
                </th>
                <th>
                    Mô tả
                </th>
                <th>
                    Hình ảnh
                </th>
                <th>
                    Ngày tạo
                </th>
                <th>
                    Người đăng
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        <img style="max-width:150px;max-height:150px" src="@item.ImagePath" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentityUser.UserName)
                    </td>
                    <td>
                        <a asp-action="EditNew" asp-route-id="@item.Id">Chỉnh sửa</a> |
                        <a asp-action="DetailNew" asp-route-id="@item.Id">Xem chi tiết</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
